.content{
    text-align: left;
    padding-top: 1em;
    float: left;
    width: 76%;
    margin-left: 1em;
   

}

.content-right{
    padding-top: 1em;

}

.tab-title{
    border-bottom: 2px solid black;
    font-size: 1.2em;
}

.request-type{
    color:rgba(0, 0, 0, 0.65);
    font-weight: bold;
    padding-right: 5em;
    
}

button{
cursor: pointer;
}

.icon-accept{
    font-size: 20px;
    color: #009300;
}

.icon-cancel{
    font-size: 20px;
    color: #b92929;
}

