.content-tab{

  width: 100%;

}

.content-summary{
  padding-bottom: 2em
}

.tab-container  {
  width: 100%;
}
  
  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: red;
    padding: 16px;
  }
  
