.signup-container {
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 88px;
    padding-top: 20px;
}

.signup-form{
    display: inline-block;
    width: 500px;
}
.signup-form-button {
    width: 100%;
    margin-top: 15px;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.signup-form input {
    margin-bottom: 3px;
    display: inline-block;
}

.ant-input-lg {
    padding: 5px;

}

.ant-back-top {
    bottom: 100px;
}

.ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.loading-indicator{
    margin-top: 10em;
}
