.activation-title {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    border: 1px solid #ffe58f;
    background-color: #fffbe6;
    border-radius: 4px;
    color: rgba(0,0,0,.65);
    font-size: 20px;
    font-weight: 400 !important;
    padding-bottom: 5px;
    padding-top: 5px;
}

.activation-title2 {
    margin-top: 100px !important;
    margin-bottom: 50px;
    text-align: center;
    color: rgba(0,0,0,.65);
}

.activation-box {
    margin: auto;
    width: 50%;
    padding: 15px;
}

.confirmation-field{
    margin-top: 35px;
    width: 80%;
    margin: auto;
}

.button-container {
    text-align: center;
    margin-top: 40px;
}

.activation-form-button-resend {
    margin-left: 10px;
}

.activation-form-button-cancel {
    margin-left: 10px;
}

.bar {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}