.principalDiv {
  margin-top: 50px;
  text-align: center;
}
form.uploadForm {
  margin-top: 50px;
  text-align: center;
}
input.inputName {
  margin-top: 50px;
  align-self: center;
  box-sizing: border-box;
  text-align: center;
  padding-right: 10%;
}

.uploadButton {
    
    height: 35px;
    padding: 0px 10px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}