.card{
    border: 3px;
    margin-bottom: 25px;
    float: right;
}

.title{
    color:rgb(70, 55, 55);
    display: inline-block;
    margin-left: 7px;
}

.header{
    background: #65655f;
    width: 200px;
    height: 30px;
    font-size: 15px;
    color: white;
    border-radius: 999px;
    padding: 3px 0;
    text-align: center;
    float: right;
    margin-left: 20px;
}