.activation-title2 {
  margin-top: 170px;
  margin-bottom: 10px;
  text-align: center;
}

.activation-box {
  margin: auto;
  width: 50%;
  padding: 15px;
}

.old-password-input{
  margin-top: 35px;
  width: 80%;
  margin: auto;
}

.button-container {
  text-align: center;
  margin-top: 40px;
}

.activation-form-button-cancel {
  margin-left: 10px;
}

.old-password-input {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  margin: 60px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.new-password-input {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.retype-new-password-input {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}