
.topContainer{
    background: #ECECEC;
    padding: 30px;
}

.cards-header {
    background: #ECECEC;
    padding: 30px;
    margin-top: 2em; 
}

/* .cards-header small{
    color: green;
    
} */

.flex {
    display: flex;
}

.height {
    height: 100%;
}

.yellow-bar .ant-progress-inner {
    background-color: #ffea18;
}

.margin {
    margin: 0;
}

.header-col .title-card {
    color:white;
}

.card-head{
    border: 3px;
    margin-bottom: 25px;
}

.ant-card-body {
    padding: 12px 12px 6px 12px;
}

#dashboard .ant-card-body {
    display: flex;
    flex-wrap: wrap;
}

.gridStyle {
    display: flex;
}

.icon{
    font-size: 1.5em;
    margin-top: 3px;
}

.title-card{
    color:rgb(70, 55, 55);
    display: inline-block;
    margin-left: 7px;
}

.header-col {
    background: #1890ff;
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: white;
    border-radius: 999px;
    padding: 3px 0;
    text-align: center;
    float: right;
}

.content-card{
   
}

.dash-separator{
    border-bottom: 1px solid black;
    margin-top:1em;
    margin-bottom: 0.5em;
}

.btn-info{
    float:right;
}