.tab-header {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #e8e8e8;
    font-size: 1.2em;
    margin-bottom: 1.5em;
    width: 100%;
}
